<div class="topnav">
  <a class="active" name="home_button" href="/">Home</a>
  <% if !@login_status %>
    <a name="sign_in_button" href="/sign_in">Sign In</a>
    <a name="register_button" href="/register">Register</a>
  <% else %>
    <a name="sign_out_button" href="/sign_out">Sign Out</a>
    <a name="my_spaces_button" href="/my_spaces">My Spaces</a>
  <% end %>
  <a name="add_space" href="/new_space">Add Your Space</a>
</div>

<h1>Makers BnB</h1>
<h3><%= @login_status ? "Welcome Big #{session[:session_user].user_name[0]}!" : 'Real gangstas make an account!'%></h3>

<br/>

<div>
  <h3>Registered spaces. Contact the lister to book!</h3>
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <a href="listing-<%= space[:id] %>" style="text-decoration: none">
        <div style="border: 2px solid darkgreen" id="listing-<%= space[:id] %>">
          <%= space[:space_name]%><br/>
          <%= space[:description] %><br/>
          <%= '£%.2f' % space[:price] %>/night<br/>
          This space is available from <%= space[:start_date] %> to <%= space[:end_date] %>. Book now!<br/>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
