<h1>Makers BnB</h1>
<h3><%= @welcome %></h3>

<div>
  <form action="/register" method="get">
    <button type="submit" name="register">Register</button>
  </form>
</div>
<div>
  <form action="/sign_in" method="get">
    <button type="submit" name="sign_in">Sign in</button>
  </form>
</div>

<div>
  <h3>Add your property to Makers BNB</h3>
  <form action="/new_space" method='post'>
    <label for="name">Your space name:</label><br>
    <input type="text" name="name" required='required'><br>

    <label for="description">Description:</label><br>
    <textarea name="description" cols="40" rows="5" placeholder="Please include some details about your space" style="resize: none" required='required'></textarea><br>

    <label for="price">Price per night:</label><br>
    <input type="text" name="price" required='required'><br>

    <label for="email">Your email:</label><br>
    <input type="email" name="email" required='required' placeholder="youraddress@email.com"><br>

    <label for="start_date">Start date:</label><br/>
    <input type="text" name="start_date" placeholder="dd/mm/yy"><br/>

    <label for="end_date">End date:</label><br/>
    <input type="text" name="end_date" placeholder="dd/mm/yy"><br/>

    <input type="submit" name="Submit">
  </form>
</div>
<br/>
<br/>

<div>
  <h3>Registered spaces. Contact the lister to book!</h3>
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <a href="listing-<%= space[:id] %>" style="text-decoration: none">
        <div style="border: 2px solid darkgreen" id="listing-<%= space[:id] %>">
          <%= space[:space_name]%><br/>
          <%= space[:description] %><br/>
          <%= '£%.2f' % space[:price] %>/night<br/>
          <%= space[:email] %> <br>
          This space is available from <%= space[:start_date] %> to <%= space[:end_date] %>. Book now!<br/>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
