<h1>Makers BnB</h1>
<h3><%= @welcome %></h3>

<div>
  <form action="/register" method="get">
    <button type="submit" name="register">Register</button>
  </form>
</div>
<div>
  <form action="/sign_in" method="get">
    <button type="submit" name="sign_in">Sign In</button>
  </form>
</div>
<div>
  <form action="/sign_out" method="get">
    <button type="submit" name="sign_out">Sign Out</button>
  </form>
</div>
<div>
  <form action="/new_space" method="get">
    <button type="submit" name="add_space">Add your space</button>
  </form>
</div>
<br/>
<br/>

<div>
  <h3>Registered spaces. Contact the lister to book!</h3>
  <% if @spaces %>
    <% @spaces.each do |space| %>
      <a href="listing-<%= space[:id] %>" style="text-decoration: none">
        <div style="border: 2px solid darkgreen" id="listing-<%= space[:id] %>">
          <%= space[:space_name]%><br/>
          <%= space[:description] %><br/>
          <%= '£%.2f' % space[:price] %>/night<br/>
          <%= space[:email] %> <br>
          This space is available from <%= space[:start_date] %> to <%= space[:end_date] %>. Book now!<br/>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
