<div style="border: 2px solid darkgreen" id="listing-<%= @space[:id] %>">
  <%= @space[:space_name]%><br/>
  <%= @space[:description] %><br/>
  <%= '£%.2f' % @space[:price] %>/night<br/>
  <%= @space[:email] %> <br>
</div>
