<div style="border: 2px solid darkgreen" id="listing-<%= @space[:id] %>">
  <%= @space[:space_name]%><br/>
  <%= @space[:description] %><br/>
  <%= '£%.2f' % @space[:price] %>/night<br/>
  <%= @space[:email] %> <br>
  This space is available from <%= @space[:start_date] %> to <%= @space[:end_date] %>. Book now!<br/>
</div>
