<div class="topnav">
  <a name="home_button" href="/">Home</a>
  <% if !@login %>
    <a name="sign_in_button" href="/sign_in">Sign In</a>
    <a name="register_button" href="/register">Register</a>
  <%else%>
    <a name="sign_out_button" href="/sign_out">Sign Out</a>
    <a name="my_spaces_button" href="/my_spaces">My Spaces</a>
    <a name="my_requests_button" href="/my_requests">My Requests</a>
  <%end%>
  <a name="add_space" href="/new_space">Add Your Space</a>
</div>


<div style="border: 2px solid darkgreen" id="listing-<%= @space[:id] %>">
  <%= @space[:space_name]%><br/>
  <%= @space[:description] %><br/>
  <img src="uploads/<%= @space[:image_name] %> " width="400" height="400" /><br/>
  <%= '£%.2f' % @space[:price] %>/night<br/>
  This space is available from <%= @space[:start_date] %> to <%= @space[:end_date] %>. Book now!<br/>
</div>

<div>
  <% if @login.nil? %>
    You need to login to book a space.
  <% else %>
    <div>
      <% if @login.id == @space.user_id %>
        <% if !@bookings.empty? %>
          <% @bookings.each do |booking| %>
            <% if booking.accepted != nil%>
              You have <%= booking.accepted ? 'accepted' : ' declined' %> <%= booking.start_date %>.
              <br>
            <%else%>
              <div>
                Booking requested for the night of <%= booking.start_date %>.
                <form action='/response-<%=true%>-<%=@space.id%>' method='post' >
                  <% session[:booking_id] = booking.id %>
                  <input type='submit' value='Accept'>
                </form>
                <form action='/response-<%=false%>-<%=@space.id%>' method='post' >
                  <% session[:booking_id] = booking.id %>
                  <input type='submit' value='Decline'>
                </form>
              </div>
            <%end%>
          <%end%>
        <% else %>
          No requests for this space yet
        <% end %>
      <% else %>
      <div>
        <form action='/listing-<%= @space[:id] %>' method="post">
          <label for :date>What night would you like to stay?</label>
          <input type="text" name="date" placeholder="DD/MM/YY"/>
          <% session[:space_id] = @space[:id] %>
          <input type="submit" name="Request Booking" value="Request Booking"><br/>
          <%= flash[:booking_out_of_range] %>
        </form>
      </div>
      <% end %>
      </div>
    <div>
      <% if @booking %>
        Booking request accepted.
        <%= @owner.user_name %> will check this soon.
      <% end %>
    </div>
  <% end %>
</div>
