<div class="topnav">
  <a name="home_button" href="/">Home</a>
  <% if !@login %>
    <a name="sign_in_button" href="/sign_in">Sign In</a>
    <a name="register_button" href="/register">Register</a>
  <%else%>
    <a name="sign_out_button" href="/sign_out">Sign Out</a>
    <a name="my_spaces_button" href="/my_spaces">My Spaces</a>
  <%end%>
  <a name="add_space" href="/new_space">Add Your Space</a>
</div>


<div style="border: 2px solid darkgreen" id="listing-<%= @space[:id] %>">
  <%= @space[:space_name]%><br/>
  <%= @space[:description] %><br/>
  <%= '£%.2f' % @space[:price] %>/night<br/>
  This space is available from <%= @space[:start_date] %> to <%= @space[:end_date] %>. Book now!<br/>
</div>

<div>
  <% if @login.id == @space.user_id %>
    <%
  <% else %>
  <div>
    <form action='/listing-<%= @space[:id] %>' method="post">
      <label for :date>What night would you like to stay?</label>
      <input type="text" name="date" placeholder="DD/MM/YY"/>
      <% session[:space_id] = @space[:id] %>
      <input type="submit" name="Request Booking" value="Request Booking">
    </form>
  </div>
  <% end %>
  </div>
<div>
  <% if @booking %>
    Booking request accepted.
    <%= @owner.user_name %> will check this soon.
  <% end %>
</div>
